#Installation command: pip install --no-cache-dir --upgrade -r requirements.txt
# RUN BEFORE:
#git clone https://github.com/facebookresearch/detectron2.git
#python -m pip install -e detectron2
opencv-python
roboflow
matplotlib
pytorch_lightning